<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auction.dao.ArticleDAO">
	
	<!-- <条件查询>获取文章 -->
	<select id="findAllAricles" resultType="com.auction.entity.Article">
		select * from article where category=#{category} order by releaseTime desc,browseTimes desc limit 0,#{limit} 
	</select>
	
	<!-- 获取所有文章 -->
	<select id="getAllAricles" resultType="com.auction.entity.Article">
		select * from article
	</select>
	
	<!-- 委托者 获取所有文章 -->
	<select id="getAllAriclesBySellerId" resultType="com.auction.entity.Article">
		select * from article where admin_id=#{seller_id}
	</select>
	
	 
	 <!-- 根据id查询 -->
	<select id="getAricleById" resultType="com.auction.entity.Article" parameterType="int">
		select * from article where id=#{id}
	</select>
	 
	<!-- 更新 -->
	<update id="updateAricle" parameterType="com.auction.entity.Article">
		update article 
		set title=#{title},category=#{category},content=#{content},
		<if test="releaseTime!=null">
			releaseTime=now(),
		</if>
		status=#{status}
		where id=#{id}
	</update>
	 
	 <!-- 自增浏览量 -->
	 <update id="browseTimesIncrement" parameterType="int">
	 	update article
	 	set browseTimes=browseTimes+1
	 	where id=#{id}
	 </update>
	 
	<!-- 根据id删除 -->
	<delete id="deleteAricleById" parameterType="int">
		delete from article where id=#{id}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteAriclesByIds" parameterType="int[]">
		delete from article where id in
		<foreach collection="array" item="ids" separator="," open="(" close=")">
				#{ids}
		</foreach>
	</delete>
	
	<!-- 增加一条数据 -->
	<insert id="addAricle" parameterType="com.auction.entity.Article">
		insert into Article(title,category,content,releaseTime,admin_id,status,browseTimes)
		values(#{title},#{category},#{content},now(),#{admin_id},#{status},0)
	</insert>
	
  	
</mapper>