<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auction.dao.RecommendDAO">
	
	<!-- 根据用户编号查询推荐信息 -->
	<select id="getRecommendsByUserId" resultType="com.auction.entity.Recommend">
		select * from recommend where user_id=#{user_id}
	</select>
	
	<!-- 添加推荐信息 -->
	<insert id="addRecommend" parameterType="com.auction.entity.Recommend">
		insert into recommend(type_id,user_id) values(#{type_id},#{user_id})
	</insert>
	
	<!-- 根据推荐查询推荐 -->
	<select id="getRecommend" parameterType="com.auction.entity.Recommend" resultType="com.auction.entity.Recommend">
		select * from recommend where user_id=#{user_id} and type_id=#{type_id}
	</select>
</mapper>