* {
    margin: 0;
    padding: 0;
}

.pay {
    width: 800px;
    margin: 20px auto;
    background: #ccc;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

p{
    margin: 0;
}

a,
a:hover,
a:focus {
    color: #666;
}

.tr_recharge {
    max-width: 800px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.tr_rechtext {
    width: 100%;
    padding: 10px;
    background: #27b0d6;
    color: #fff;
}

.te_retit {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

.te_retit img {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.tr_rechtext p {
    margin-bottom: 10px;
}

.tr_rechbox {
    padding: 20px;
    /*border-bottom: 1px solid #ededed;*/
}

.tr_rechhead {
    width: 100%;
    background: rgba(39, 176, 214, .15);
    padding: 20px;
    display: inline-block;
    float: left;
    margin-bottom: 40px
}

.tr_rechhead>img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.tr_rechhead>p {
    line-height: 46px;
    float: left;
    color: #666;
}

.tr_rechhead p a {
    color: rgb(39, 176, 214);
}

.tr_rechheadcion {
    float: right;
    display: inline-block;
}

.tr_rechheadcion img {
    width: 20px;
    float: left;
    margin-top: 13px;
    margin-right: 5px;
}

.tr_rechheadcion span {
    color: #565656;
    line-height: 46px;
}

.tr_rechheadcion1 {
    margin-left:20px;
    display: inline-block;
}

.tr_rechheadcion1 img {
    width: 40px;
    float: left;
    margin-top: 13px;
    margin-right: 5px;
}

.tr_rechheadcion1 span {
    color: #565656;
    line-height: 46px;
}
.check{
    padding-left: 20px;
    font-size: 12px;
}
.payPassword{
    padding-left: 20px;
    margin: 25px 0;
}
.label{
    font-size: 14px;
}
.password{
    width: 200px;
    height: 30px;
    border: 1px solid #0ae;
    font-size: 12px;
}
.explain{
    margin: 10px 0;
    font-size: 12px;
}
.checkPay{
    padding-left: 20px;
    margin-bottom: 30px;
}
.checkPay1{
    width: 100px;
    height: 32px;
    color: #fff;
    border: 1px solid #0ae;
    background-color: #0ae;
    font-size: 12px;
    font-weight: bold;

}















