@charset "utf-8";
/* 你自己的样式 */

.pics {
			width:328px;
			height:110px;
			margin-left:160px;
			border:1px #999999 solid;
		}
		.pic {
			margin:2px;
			width:100px;
			height:100px;
			border:2px #999999 dashed;
			margin-top:-108px;
			margin-left:228px;
			cursor: pointer;
		}
		.pic0 {
			margin:2px;
			width:100px;
			height:100px;
			border:2px #999999 dashed;
			
		}
		.pic1 {
			margin:2px;
			width:100px;
			height:100px;
			border:2px #999999 dashed;
			margin-left:0px;
			cursor:pointer;
		}
		.pic2 {
			margin:2px;
			width:100px;
			height:100px;
			border:2px #999999 dashed;
			margin-left:110px;
			margin-top:-106px;
			display: none;cursor:pointer;
		}
		.pic3 {
			margin:2px;
			width:100px;
			height:100px;
			border:2px #999999 dashed;
			margin-left:220px;
			margin-top:-106px;
			display: none;cursor:pointer;
		}
		.pic4 {
			margin:2px;
			width:100px;
			height:100px;
			border:2px #999999 dashed;
			margin-left:330px;margin-top:-106px;
			display: none;cursor:pointer;
		}
		.pic5 {
			margin:2px;
			width:100px;
			height:100px;
			border:2px #999999 dashed;
			margin-left:440px;margin-top:-106px;
			display: none;cursor:pointer;
		}
		.clear {
			width:10px;
			height:16px;
			padding:2px;
			font-size:8px;
			border-radius: 50%;
			background:red;
			color: white;
			margin-left:90px;
			position: absolute;
			cursor: pointer;
			display: none;
		}